/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* fine regole generali */



/* regole comuni */
.row::after {
    content: "";
    display: table;
    clear: both;
}

a {
    display: inline-block;
}
/* fine regole comuni */



/* debug */
.debug {
    height: 500px;
}

.container {
    height: 100%;
    width: 100%;
    border: 5px solid black;
}

    /* header */
    header nav.right, header nav.left {
        background-color: blue;
    }

    header a {
        color: white;
    }

    /* jumbotron */
    #jumbotron h1 {
        height: 180px;
        background-color: grey;
    }

    #jumbotron .txt, #jumbotron .img {
        background-color: grey;
    }

    #jumbotron .btn {
        width: 150px;
        height: 30px;
        background-color: blue;
    }

    /* main */
    #plans .container {
        border-color: rgb(0, 119, 255);
    }

    #plans .container h2 {
        height: 70px;
        width: 100%;
        background-color: peru;
    }

    #plans .column {
        background-color: peachpuff;
    }

    #enterprise {
        background-color: rgb(255, 186, 125);
    }
    /* ****************** */
    #partner .btn {
        width: 100px;
        height: 20px;
        border: 1px solid black;
    }

    #partner .txt, #partner .img {
        background-color: grey;
    }
    /* ****************** */
    #features .container {
        border-color: rgb(98, 0, 255);
    }

    #features .img {
        background-color: powderblue;
    }
    /* ****************** */
    #clients {
        background-color: rgb(98, 9, 43);
    }
    /* ****************** */
    #cta .container {
        border-color: rgb(98, 9, 43);
    }
    /* ****************** */
    #faq .container {
        border-color: rgb(255, 0, 179);
    }

    /* footer */
    footer .container {
        border-color: white;
    }
/* fine debug */



/* regole header */
header {
    height: 80px;
}

header .container {
    width: 98%;
    margin: 0 auto;
}

header nav.right, header nav.left {
     width: 50%;
     height: 100%;   
}

header nav.right {
    float: right;
    text-align: right;
}

header nav.left {
    float: left;
}
/* fine regole header */



/* regole jumbotron */
#jumbotron {
    height: 600px;
    background-color: rgb(180, 208,	231);
    padding-top: 60px;
}

#jumbotron .container {
    width: 80%;
    margin: 0 auto;
}

#jumbotron h1{
    margin-bottom: 30px;
}

#jumbotron .txt {
    float: left;
    height: 270px;
    width: 30%;
    margin-right: 10%;
}

#jumbotron p {
    margin-bottom: 20px;
}

#jumbotron .btn {
    margin-bottom: 5px;
}

#jumbotron .note {
    margin-bottom: 20px;
}

#jumbotron .img {
    float: right;
    height: 320px;
    width: 60%;
}
/* fine regole jumbotron */



/* regole main */
main .container {
    width: 65%;
    margin: 0 auto;
}

/* section plans */
#plans .container {
    padding-top: 200px;
}

#plans .container h2{
    margin-bottom: 50px;
}

#plans .column {
    height: 1000px;
    width: calc(80% / 3);
    float: left;
}

#plans .column.middle {
    margin: 0 10%;
}

#enterprise {
    width: 100%;
    height: 200px;
    margin-top: 50px;
}

/* section partner */
#partner .container {
    padding-top: 150px;
}

#partner .img {
    width: 55%;
    height: 350px;
    float: left;
}

#partner .txt {
    width: 35%;
    float: right;
    padding-top: 25px;
}

#partner .txt p {
    margin: 20px 0;
}

/* section features */
#features .container {
    padding-top: 100px;
}

#features .row {
    margin-top: 50px;
}

#features .column {
    width: calc(80% / 3);
    float: left;
}

#features .column.middle {
    margin: 0 10%;
}

#features .img {
    height: 150px;
}

#features h3 {
    margin: 20px 0;;
}
/* fine regole main */



/* regole footer */
footer {
    background-color: black;
    padding: 100px 17% 40px 10%;
}
/* fine regole footer */