/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* fine regole generali */



/* regole comuni */
a {
    display: inline-block;
}
/* fine regole comuni */

/* debug */
.debug {
    height: 500px;
}

.container {
    height: 100%;
    width: 100%;
    border: 5px solid black;
}

    /* header */
    header nav.right, header nav.left {
        background-color: blue;
    }

    header a {
        color: white;
    }

    /* jumbotron */
    #jumbotron h1 {
        height: 180px;
        background-color: grey;
    }

    #jumbotron .txt, #jumbotron .img {
        background-color: grey;
    }

    #jumbotron .btn {
        width: 150px;
        height: 30px;
        background-color: blue;
    }

    /* main */
    #piani .container {
        border-color: rgb(0, 119, 255);
    }

    #features .container {
        border-color: rgb(98, 0, 255);
    }

    #clients {
        background-color: rgb(98, 9, 43);
    }

    #cta .container {
        border-color: rgb(98, 9, 43);
    }

    #faq .container {
        border-color: rgb(255, 0, 179);
    }

    /* footer */
    footer .container {
        border-color: white;
    }
/* fine debug */



/* regole header */
header {
    height: 80px;
}

header .container {
    width: 98%;
    margin: 0 auto;
}

header .row::after {
    content: "";
    display: table;
    clear: both;
}

header nav.right, header nav.left {
     width: 50%;
     height: 100%;   
}

header nav.right {
    float: right;
    text-align: right;
}

header nav.left {
    float: left;
}
/* fine regole header */



/* regole jumbotron */
#jumbotron {
    height: 600px;
    background-color: rgb(180, 208,	231);
    padding-top: 60px;
}

#jumbotron .container {
    width: 80%;
    margin: 0 auto;
}

#jumbotron h1{
    margin-bottom: 30px;
}

#jumbotron .txt {
    float: left;
    height: 270px;
    width: 30%;
    margin-right: 10%;
}

#jumbotron p {
    margin-bottom: 20px;
}

#jumbotron .btn {
    margin-bottom: 5px;
}

#jumbotron .note {
    margin-bottom: 20px;
}

#jumbotron .img {
    float: right;
    height: 320px;
    width: 60%;
}
/* fine regole jumbotron */



/* regole main */
main .container {
    width: 65%;
    margin: 0 auto;
}
/* fine regole main */



/* regole footer */
footer {
    background-color: black;
    padding: 100px 17% 40px 10%;
}
/* fine regole footer */