/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
}
/* fine regole generali */



/* regole comuni */
.mb-50px {
    margin-bottom: 50px;
}

.mb-40px {
    margin-bottom: 40px;
}

.mb-30px {
    margin-bottom: 30px;
}

.mb-20px {
    margin-bottom: 20px;
}

.mb-10px {
    margin-bottom: 10px;
}

.mb-5px {
    margin-bottom: 5px;
}

.mt-50px {
    margin-top: 50px;
}

.mt-30px {
    margin-top: 30px;
}

.mt-20px {
    margin-top: 20px;
}

.pt-200px {
    padding-top: 200px;
}

.pt-100px {
    padding-top: 100px;
}

.pt-150px {
    padding-top: 150px;
}

.pt-60px {
    padding-top: 60px;
}

.pt-30px {
    padding-top: 30px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    font-size: 4.5em;
    font-weight: 800;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.5em;
}

.bold {
    font-weight: bold;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

a.blue-link {
    text-decoration: underline;
    color: rgb(1, 97, 255);
}

.btn {
    padding: 5px 15px;
    text-align: center;
}

.btn.large {
    padding: 5px 30px;
}

.btn.white {
    border: 1px solid black;
    background-color: #fff;
}

.btn.blue {
    background-color: rgb(1, 97, 255);
    color: #fff;
}

.hr {
    width: 50px;
    border-bottom: 1px solid #ddd;
}


/* fine regole comuni */



/* debug */
.debug {
    height: 500px;
}

.container {
    width: 100%;
    /* border-left: 2px solid black;
    border-right: 2px solid black; */
}

    /* footer */
    footer .container {
        border: 1px solid white;
    }
/* fine debug */



/* regole header */
header {
    height: 80px;
    position: relative;
}

header .row {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

header nav.right, header nav.left {
     width: 50%;
}

header nav ul {
    list-style-type: none; 
}

header nav ul li {
    display: inline-block;
    margin: 0px 15px;
}

header nav.left a img {
    width: 110px;
    /* vertical-align: middle; */
}

header nav.right {
    float: right;
    text-align: right;
}

header nav.left {
    float: left;
}
/* fine regole header */



/* regole jumbotron */
#jumbotron {
    height: 600px;
    background-color: rgb(180, 208,	231);
}

#jumbotron .container {
    width: 80%;
    margin: 0 auto;
}

#jumbotron h1{
    height: 180px;
}

#jumbotron .txt-content {
    float: left;
    height: 270px;
    width: 35%;
}

#jumbotron .arrow {
    font-size: 2em;
}

#jumbotron .img-box {
    float: right;
    height: 330px;
    width: 60%;
    /* position: relative; */
    /* background-color: red; */
}

#jumbotron .img-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* position: absolute;
    bottom: -50px; */
}
/* fine regole jumbotron */



/* regole main */
main .container {
    width: 65%;
    margin: 0 auto;
}

/* section plans */
#plans .select {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
}

#plans .select.blue {
    border: 5px solid rgb(1, 97, 255);
}

#plans .select.white {
    border: 1px solid #ddd;
    margin-left: 20px;
}

#plans .plan {
    border: 1px solid #ddd;
}

#plans .plan .plan-header {
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

#plans .plan .plan-body {
    padding: 20px;
}

#plans .column {
    height: 1000px;
    width: calc(90% / 3);
    float: left;
}

#plans .column.middle {
    margin: 0 5%;
}

#plans .column .plan-body .grey {
    color: rgb(124, 124, 124);
}

#plans .column .plan-body ul {
    list-style: none;
}

#plans .column .plan-body ul li .fas.fa-check{
    color: rgb(1, 97, 255);
}

#plans .flat .plan-body .txt{
    width: 70%;
    float: left;
}

#plans .flat .plan-body .btn{
    width: 30%;
    float: right;
}

/* section partner */
#partner .img-box {
    width: 55%;
    float: left;
}

#partner .img-box img {
    width: 100%;
    object-fit: cover;
}

#partner .txt {
    width: 40%;
    float: right;
}

/* section features */
#features .column {
    width: calc(90% / 3);
    float: left;
}

#features .column.middle {
    margin: 0 5%;
}

#features .img-box img {
    width: 100%;
    object-fit: contain;
}

/* section clients */
#clients h2 {
    width: 55%;
}

#clients .column {
    float: left;
}

#clients .column.side {
    width: 30vw;
}

#clients .column.middle {
    width: calc(100% - 60vw);
    height: 30vw;
    background-color: rgb(246, 245, 245);
    overflow-y: scroll;
    padding: 40px;
}

#clients .logo-box {
    float: left;
    width: 15vw;
    height: 15vw;
}

#clients .logo-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 0px 50px;
}

#designit img {
    background-color: rgb(162, 210, 155);
}

#designit {
    background-color: rgb(210, 233, 205);
    padding: 2%;
}

#asu {
    background-color: rgb(99, 8, 43);
}

#uf {
    background-color: rgb(0, 147, 206);
}

#topps {
    background-color: rgb(255, 29, 28);
}

#world-bicycle-relief {
    background-color: rgb(213, 0, 32);
}

#hearst {
    background-color: rgb(181, 208, 231);
}

#lonely-planet {
    background-color: rgb(15, 36, 129);
}

#clear-channel {
    background-color: rgb(255, 215, 47);
}

#clients .column.middle .client-logo {
    width: 25%;
}

/* section cta */
#cta {
    height: 350px;
    background-color: rgb(180, 208,	231);
}

#cta .container {
    height: 100%;
    position: relative;
}

#cta .wrap {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

#cta h2 {
    width: 50%;
    float: left;
    color: rgb(99, 8, 43);
}

#cta .btn {
    width: 30%;
    float: right;
    border: none;
}

/* section faq */
#faq .container {
    padding-top: 100px;
}

#faq h3 {
    margin-bottom: 50px;
}

#faq .question {
    line-height: 60px;
    border-top: 1px solid lightgray;
}

#faq .question .txt{
    width: 60%;
    float: left;
}

#faq .question .arrow{
    width: 5%;
    float: right;
}
/* fine regole main */



/* regole footer */
footer {
    height: 500px;
    background-color: black;
    padding: 100px 17% 40px 10%;
}

footer .row {
    margin-bottom: 100px;
}

footer .column {
    float: left;
    width: calc(80% / 5);
}

footer .column.middle {
    margin: 0px 5%;
}

footer h4 {
    margin-bottom: 20px;
    color: white;
}

footer .column a{
    color: white;
}

footer .language {
    width: 100px;
    height: 60px;
    border-top: 1px solid lightgray;
    padding-top: 40px;
    color: lightgray;
}
/* fine regole footer */