/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* fine regole generali */



/* debug */
.debug {
    height: 500px;
}

.container {
    height: 100%;
    width: 100%;
    border: 5px solid black;
}

    /* header */
    header.debug {
        height: 100px;
    }

    header nav.right, header nav.left {
        background-color: blue;
    }

    header a {
        color: white;
    }

    /* main */
    #piani .container {
        border-color: rgb(0, 119, 255);
    }

    #features .container {
        border-color: rgb(98, 0, 255);
    }

    #clients {
        background-color: rgb(98, 9, 43);
    }

    #cta .container {
        border-color: rgb(98, 9, 43);
    }

    #faq .container {
        border-color: rgb(255, 0, 179);
    }

    /* footer */
    footer .container {
        border-color: white;
    }
/* fine debug */



/* regole header */
header {
    padding: 0 10px;
}

header .container {
    width: 98%;
    margin: 0 auto;
}

header .row::after {
    content: "";
    display: table;
    clear: both;
}

header nav.right, header nav.left {
     width: 50%;
     height: 100%;   
}

header nav.right {
    float: right;
    text-align: right;
}

header nav.left {
    float: left;
}
/* fine regole header */



/* regole jumbotron */
#jumbotron {
    background-color: rgb(180, 208,	231);
}

#jumbotron .container {
    width: 80%;
    margin: 0 auto;
}
/* fine regole jumbotron */



/* regole main */
main .container {
    width: 65%;
    margin: 0 auto;
}
/* fine regole main */



/* regole footer */
footer {
    background-color: black;
    padding: 100px 17% 40px 10%;
}
/* fine regole footer */